In [1]:
# We need pandas
# Pandas are cute
import pandas as pd

In [2]:
########################### Read base submission
############################################################################
submission = pd.read_csv('../input/m5-three-shades-of-dark-darker-magic/submission_v1.csv')

In [3]:
########################### Day 1
############################################################################

# Current number of teams       3,215 (day 2 of May)
# Number of teams 2 days before 3,186 
teams_now = 3215
teams_before = 3186
submission['F1'] *= teams_now/teams_before
submission['F1'].sum()

37665.27453466682

In [4]:
########################### Day 2
############################################################################

# In case you'll get a heart attack 
# because of all the MAGIC in this kernel -
# here is South Korean emergency number - 119
magic = submission['F2'].sum()
korea_emergency = 119
submission['F2'] *= magic / (magic + korea_emergency)
submission['F2'].sum()

35159.483852591104

In [5]:
########################### Day 3
############################################################################

# 1913 - The Woman suffrage parade of 1913 takes place in Washington, D.C.
# 1923 - Ankara replaces Istanbul (Constantinople), as the capital of Turkey.
submission['F3'] *= 1913/1923
submission['F3'].sum()

34553.78948135258

In [6]:
########################### Day 4
############################################################################

# I love statistics.
# When you dig in data you can 
# find VERY interesting "facts".
# Did you know that the mean 
# number of sexual partners 
# per person is 1.0073
sex_constant = 1.0073
submission['F4'] /= sex_constant
submission['F4'].sum()

35049.04484204168

In [7]:
########################### Day 5
############################################################################

# It's Friday  
# Friday night is a mix (colors)
# of girls #ffb0e8 and boys #330000
# Resulted mix HEX color code is #995874
color_of_the_night = 995874

# There are millions "Stories"
# We need to make it Mean, really mean
color_of_the_night /= 1000000
submission['F5'] *= color_of_the_night
submission['F5'].sum()

41517.87244500632

In [8]:
########################### Day 6
############################################################################

# Fridays not always pass without "consequences"
# BE CAREFUL - DRINK MODERATELY
# https://www.ncbi.nlm.nih.gov/pubmed/25701909
# Traumatic brain injury and cognition.
# PMID: 25701909 DOI: 10.1016/B978-0-444-63521-1.00037-6

# 1.00037-6 - it can't be just a coincidence
injury = 1.000376
submission['F6'] *= injury
submission['F6'].sum()

50904.96512961997

In [9]:
########################### Day 7
############################################################################

# Let's make it aaaall random
# We will need NumPy

# We will divide the COMPLETELY random number
# from range >1000000 by 1000000
# to have some float number from 0 to 1 

import numpy as np
np.random.seed(198505)
correction = np.random.randint(1000000)/1000000
submission['F7'] *= correction
submission['F7'].sum()

53154.440276867594

In [10]:
########################### Day 8
############################################################################
submission['F8'] *= (100-1)/100 + (100-12)/10000
submission['F8'].sum()

43958.86467359683

In [11]:
########################### Day 11
############################################################################

# Let's not change anything here
# I have a feeling that we should 
# keep origical prediction
submission['F11'] = submission['F11']
submission['F11'].sum()

40793.78637952558

In [12]:
########################### Days 9-19
############################################################################

# Just 1% of his fortune is equivalent to the whole health budget for Ethiopia
for i in range(9,20):
    if i!=11:
        submission['F'+str(i)] *= 1.01 
        print(submission['F'+str(i)].sum())

44775.90619448512
39212.32944681616
46347.22602492363
54338.36899093822
46723.68840440284
45238.54761808424
39770.18542804384
40747.90795494926
41317.25911690345
44324.70185378859

In [13]:
########################### Days 20-28
############################################################################

# Of all the people earning A$100,000 a year under the age of 50, 2% are women. Just 2% are women.
for i in range(20,29):
    submission['F'+str(i)] *= 1.02
    print(submission['F'+str(i)].sum())

54679.90728118911
57042.44612967372
42605.013493539904
38643.227347482796
37810.90482141806
37644.59494792491
42578.10361990552
51652.96362401794
52457.975823375265

In [14]:
########################### Export
############################################################################
submission.to_csv('submission.csv', index=False)